body {
  color: #FFF;
  background-color: #1B1B1B;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
}

div {
  cursor: default;
}

h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

#players, .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.selection {
  padding: 0 30px;
}

.center {
  display: flex;
  justify-content: center;
}

#players {
  font-size: 21px;
  margin-bottom: 20px;
}

.active {
    font-weight: bold;
}

#player_1 {
  margin-right: 400px;
}

.play_field_all {
    max-width: 700px;
    padding: 50px 200px;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
}

.play_field_single {
  width: 100px;
  height: 100px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#f00 {
  border-right: 7px solid;
  border-bottom: 7px solid;
}

#f01 {
  border-bottom: 7px solid;
}

#f02 {
  border-left: 7px solid;
  border-bottom: 7px solid;
}

#f10 {
  border-right: 7px solid;
}

#f12 {
  border-left: 7px solid;
}

#f20 {
  border-right: 7px solid;
  border-top: 7px solid;
}

#f21 {
  border-top: 7px solid;
}

#f22 {
  border-left: 7px solid;
  border-top: 7px solid;
}

#f00, #f01, #f02, #f10, #f12, #f20, #f21, #f22 {
  border-color: #606060;
}

#win_result {
  z-index: -1;
  background-color: rgba(169, 169, 169, 0.88);
  position: absolute;
  width: 650px;
  height: 350px;
  margin-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 85px;
  color: white;
  font-weight: bold;
}

.new_game_btn {
  margin-top: 20px;
  font-size: 21px;
  cursor: pointer;
  padding-top: 10px;
}

select {
  -webkit-appearance: none;
  border: none;
  color: #FFF;
  background-color: #1B1B1B;
  font-size: 21px;
  cursor: pointer;
  width: 165px;
  height: 50px;
  outline: none;
}

#game_mode_selection {
  margin-top: 20px;
}

a {
  display: block;
  color: #FFF;
  text-align: center;
  margin-top: 80px;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}